[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pyvcf_what_are_you_doing"

[packages]
pyvcf = "*"
pytest = "*"
typing = "*"
pysam = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
